extends layout

block content
  .row.page-header
    .col-lg-12
      h1 KFC
  .row
    .col-xs-12.col-md-9
      .row
        .col-xs-12.col-sm-6
          p.rating
            span.glyphicon.glyphicon-star
            span.glyphicon.glyphicon-star
            span.glyphicon.glyphicon-star
            span.glyphicon.glyphicon-star-empty
            span.glyphicon.glyphicon-star-empty
          p Spot 18 Mall, Shivar Chowk, Rahatani, Pimple Saudagar, Pune
            .panel.panel-primary
              .panel-heading
                h2.panel-title Opening hours
              .panel-body
                p Monday - Sunday : 11:00am - 11:00pm
            .panel.panel-primary
              .panel-heading
                h2.panel-title Contact Info
              .panel-body
                p 020 30162053
            .panel.panel-primary
              .panel-heading
                h2.panel-title Average Cost
              .panel-body
                p Rs550 for two (approx.)
        .col-xs-12.col-sm-6.location-map
          .panel.panel-primary
            .panel-heading
              h2.panel-title Location map
            .panel-body
              img.img-responsive.img-rounded(src='http://maps.googleapis.com/maps/api/staticmap?center=18.593465,73.786001&zoom=17&size=400x350&sensor=false&markers=18.593465,73.786001&scale=2')
      .row
        .col-xs-12
          .panel.panel-primary.review-panel
            .panel-heading
              a.btn.btn-default.pull-right(href='/location/review/new') Add review
              h2.panel-title Customer reviews
            .panel-body.review-container
              .row
                .review
                  .well.well-sm.review-header
                    span.rating
                      span.glyphicon.glyphicon-star
                      span.glyphicon.glyphicon-star
                      span.glyphicon.glyphicon-star
                      span.glyphicon.glyphicon-star
                      &nbsp;
                    span.reviewAuthor Arindam Majumder
                    &nbsp;
                    small.reviewTimestamp 11 Dec 2016
                  .col-xs-12
                    p Ambience is good as it's in Spot 18 Mall. We were here at around 7:30 pm and had KFC Chicken Wings and Smokey Chicken which was awesome in taste. Service and staff is okay here.
              .row
                .review
                  .well.well-sm.review-header
                    span.rating
                      span.glyphicon.glyphicon-star
                      span.glyphicon.glyphicon-star
                      span.glyphicon.glyphicon-star
                      &nbsp;
                      span.reviewAuthor Yogesh Tandale
                      &nbsp;
                      small.reviewTimestamp 20 Nov 2016
                    .col-xs-12
                      p Had takeaway for Hot & Crispy chicken. Overall taste was just OK. It wasn't that warm/hot (consider my travel time to be 5-10 min). It wasn't even spicy a little bit, so after crisp cover what remains is only boiled chicken.
    .col-xs-12.col-md-3
      p.lead KFC is on Loc8r because it's famous for its Chicken Wings, Bucket and other finger licking crisp and smoked chicken items.
      p If you've been here and you like it - or if you don't - please leave a review comment to help people just like you.	  