extends layout

block content
  #banner.page-header
    .row
      .col-lg-6
        h1 Loc8r
          small &nbsp;Find restaurants near you!
  .row
    .col-xs-12.col-sm-8
      .row.list-group
        .col-xs-12.list-group-item
          h4
            a(href="/location") KFC
            small &nbsp;
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star-empty
              span.glyphicon.glyphicon-star-empty
            span.badge.pull-right.badge-default 4.2km
          p.address Spot 18 Mall, Shivar Chowk, Rahatani, Pimple Saudagar, Pune
          p
            span.label.label-warning American
            &nbsp;
            span.label.label-warning Fast Food
            &nbsp;
  .row
    .col-xs-12.col-sm-8
      .row.list-group
        .col-xs-12.list-group-item
          h4
            a(href="/location") Kanaka Durga
            small &nbsp;
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star-empty
            span.badge.pull-right.badge-default 2km
          p.address Sr No. 167/9/10/12, Shop 12, Edenn Shopping Complex, Near Wakad Flyover, Wakad, Pune
          p
            span.label.label-warning Bengali
            &nbsp;
            span.label.label-warning Biryani
            &nbsp;
            span.label.label-warning Multi-cuisine
            &nbsp;
            span.label.label-warning Seafood
            &nbsp;
  .row
    .col-xs-12.col-sm-8
      .row.list-group
        .col-xs-12.list-group-item
          h4
            a(href="/location") Preets Punjabi Swad (Wakad)
            small &nbsp;
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star
              span.glyphicon.glyphicon-star-empty
            span.badge.pull-right.badge-default 1.1km
          p.address 188/5, Near Datta Mandir Road, Wakad, Pune
          p
            span.label.label-warning Biryani
            &nbsp;
            span.label.label-warning Chinese
            &nbsp;
            span.label.label-warning North-Indian
            &nbsp;
            span.label.label-warning Punjabi
            &nbsp;
    .col-xs-12.col-sm-4
      p.lead Looking for restaurants nearby? Loc8r helps you to find restaurants nearby with details of it's opening hours, cuisines, contact info, average cost etc.